* {
  padding: 0;
  margin: 0;
}

.App {
  /* font-family: sans-serif; */
  /* font-family: "メイリオ"; */
  font-weight: 500;
  text-align: center;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
